body {
    background-color:rgb(0,0,90,0.2);
    font-family: Garamond, "Times New Roman", serif;
}

.header,
.minor-header {
    font-family: "Copperplate", 
    "Times New Roman", sans-serif;
}

.header {
    font-size:60px;
    text-align:center;
}

.minor-header {
    font-size:25px;
    margin:0px 0px 0px;
}

.main-img {
    box-sizing:border-box;
    display:block;
    height:auto;
    width:400px;
    margin: 5px auto 5px;
    border:2px solid black;
}

#recipe-link{
    background-color:rgb(255,255,255,0.3);
    margin:5px 5px 5px;
    box-sizing:border-box;
}

.recipe {
    color:rgba(241, 221, 0);
    text-align:left;
    box-sizing:border-box;
    padding:6px;
    border:10px;
}

.directions,
.ingredients,
.nutrition {
    color:rgb(250,250,250);
    text-align:justify;
}

.description {
    text-align:center;
    padding:5px 5px 5px;
}
.ingredients {
    font-style: italic;
}

.nutrition {
    color:black;
    font-size:12px;
    margin:0px 0px 0px;
}

